[template_header]
<div align="right">
	<table border="0" cellspacing="0" cellpadding="2">
		<tr>
			<td>	

				<a href="../">	
				<img src="[field_GFX_URL]/icon_exit.png" height="20" width="20" border="0">
				</a>
			</td>
			
			<td>				
				
				<a href="../">	
				Exit
				</a>&nbsp;&nbsp;&nbsp;
			</td>

		</tr>
	</table>
	
</div>



<h1>[field_name]</h1>
<a href="..">Back to main page</a><br><br>
<i>This page can be accessed directly through the following URL: <a href="[field_URL]">[field_URL]</a></i>
<hr>



<b>Consonant table(s):</b><br>
<ul>

[template_consonantTable]
<li><b><a href="index.php?c=consonant_table&a=display_functions&consonantTableID=[field_consonantTableID]&adminID=[field_adminID]">[field_name]</a></b> - [field_visits] visits</b><br>

[template_intermezzo]
</ul>

<b>Vowel trapezium(s):</b><br>
<ul>

[template_vowelTrapezium]
<li><b><a href="index.php?c=vowel_trapezium&a=display_functions&vowelTrapeziumID=[field_vowelTrapeziumID]&adminID=[field_adminID]">[field_name]</a></b> - [field_visits] visits<br>

[template_footer]


</ul>

<ul>
<li><b><a href="[field_IPA_WRITER_URL]/index.php?adminID=[field_adminID]">Start IPA Writer with this lecturer</a></b><br>
</ul>

<br><form action=".."><input type="submit" value="Done"></form>


